body {
  font: 12px sans-serif;
  shape-rendering: crispEdges;
}

.form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 3px 4px 3px 4px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

table {
	border: 0px;
	background-color: none;	
}

.table-bordered>thead>tr>th,.table-bordered>thead>tr>td {
	font-weight: normal;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.week-title {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12pt;
  height:45px;
  min-width: 45px;
  text-align: center;
}

td.month-title {
  padding-left: 2px !important; 
  padding-right: 2px !important; 
  text-align: center;
  font-size: 12pt;
  width: 40px; 
  min-width: 40px;
  max-width: 40px;
  background-color: #DCDEDE;  
  border-right-width: 1px !important;
  border-right-color: white !important;
  text-transform: uppercase; 
}

td.month-title:last-of-type {
  border-right-width: 0px !important;
}

.resource-name {
  width: inherit;
  min-height: 100px;
  max-height: 150px;
  height: 100px;
  padding: 4px;
  vertical-align: middle !important;
  font-weight: bold;
}

.no-border{
  border-width: 0px; 
  border-style: none;
}

.month-entry {
  padding-left: 2px !important; 
  padding-right: 2px !important;
  width: 40px; 
  min-width: 40px;
  max-width: 40px; 
  background-color: #DCDEDE; 
}

.week-entry {
  width: 130px; 
  min-width: 130px;
  max-width: 130px;
  min-height: 100px;
  max-height: 150px;
  height: 100px;
  padding-bottom: 39px !important;
}

.h-scrollable {
	overflow-x: auto;
}

.no-bottom-margin {
	margin-bottom: 0px;
}

.header-row {
	min-height: 45px;
	max-height: 45px;
	height: 45px;
}

.no-left-or-right-padding {
	padding-left: 0px; 
	padding-right: 0px
}

.resource-border {
  border-width: 1px; 
  border-style: solid;
  border-color: #ddd;
  border-right-style: none;
}

td.sunday, td.saturday {
  width: 90px; 
  min-width: 90px;
  max-width: 90px;
  min-height: 100px;
  max-height: 150px;
  background-color: #EDEDED; 	
}

td.weekend-filler {
  width: 5px; 
  min-width: 5px;
  max-width: 5px;
  background-color: #EDEDED; 		
}

.weekend-filler:last-of-type {
	display:none;
}

.start-range-div {
	display: inline-block;
}

.to-range-label-div {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.end-range-div {
	display: inline-block;
}

.view-range-div {
	display: inline-block;
	padding-left: 5px;
}

.display-weekends-selector-div {
	display: table-cell;
	text-align: right;
	width: auto;
}

input.resource-date-field {
	height: 30px;
	width: 105px !important; 
}

div.resource-allocation-table-div {
	display: table;
}

.busy {
	min-height: 5px;
	max-height: 5px;
	background-color: #C0D890;
    border-top-left-radius: 3px; 
    border-bottom-left-radius: 3px; 
}

.not-busy {
	min-height: 5px;
	max-height: 5px;
	background-color: #ED4337;
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px; 
}

.utilisation {
	min-height: 5px;
	max-height: 5px;
}

div.resource-name-div {
	display: table;
}

div.resource-name-image {
	display: table-cell;
}

div.resource-name-label {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

span.calendar-button-span {
	display: inline-block;
}

button.calendar-button {
	padding: 4px;
}

span.work-item-entry {
	margin-bottom: 3px !important;
    overflow: hidden;
    text-overflow: ellipsis;
	word-wrap: break-word;
	width: 100%;
	display: inline-block;
	padding: 6px 14px 6px 6px;
	margin-bottom: 0;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	color: black;
	background-color: #dff0d8;
	line-height: 1.33;
	border-radius: 7px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	background-image: -webkit-linear-gradient(top, #dff0d8 0, #d6e9c6 100%);
	background-image: -o-linear-gradient(top, #dff0d8 0, #A6BA7D 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#d6e9c6));
	background-image: linear-gradient(to bottom, #dff0d8 0, #d6e9c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd6e9c6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #d6e9c6;
}

span.work-item-entry-remove {
	color: #a94442;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
	display: none;
	width: 16px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}

div.work-item-div {
	position: relative;
}

div.hover-work-item-div span.work-item-entry-remove {
	display: block;
}

td.hover-work-item-entry span.new-work-item-entry {
	display: inline-block;
}

td.hover-work-item-entry {
	padding-bottom: 8px !important;
}

span.new-work-item-entry {
	margin-bottom: 3px !important;
    overflow: hidden;
    text-overflow: ellipsis;
	word-wrap: break-word;
	width: 100%;
	display: none;
	padding: 6px 6px;
	margin-bottom: 0;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	color: black;
	background-color: #d9edf7;
	line-height: 1.33;
	border-radius: 7px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	background-image: -webkit-linear-gradient(top, #d9edf7 0, #CCDFE8 100%);
	background-image: -o-linear-gradient(top, #d9edf7 0, #CCDFE8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#CCDFE8));
	background-image: linear-gradient(to bottom, #d9edf7 0, #CCDFE8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd9edf7', endColorstr='#fCCDFE8', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #CCDFE8;	
}

div.login-progress {
	position:relative; 
	top: -37px;
	left: 15px;
}

.login-error {
	margin-left: 15px; 
	margin-right: 15px;
}

.menu-bar-header {
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
}

td.user-status {
	text-align: center;
	vertical-align: middle !important;
}

th.user-status {
	text-align: center;
}

.user-enabled-icon {
	color: green;
}

.user-disabled-icon {
	color: red;
}

td.user-text {
	vertical-align: middle !important;
}

.float-right {
	float: right;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.autosize {
	width: auto;
	height: auto;
}

.checkbox-form-label {
	padding-top: 3px !important;
}

.navigating-buttons {
	padding-left: 30px;
	padding-right: 30px;
}

.next-button {
	margin-left: 5px !important;
}

.setup-screen-breadcrumb {
    font-size: 24px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-left: 0px;
}

.new-user-button {
	position: relative;
    float: right;
    top: 19px;
}

.popover-title {
	text-align: left !important;
}

.popover {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.popover.right .arrow:after {
	bottom: -10px;
	left: 1px;
	border-right-color: #ebccd1;
	border-left-width: 0;
	content: " ";
}

.popover-content {
	text-align: left !important;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.setup-screen-alert-div {
	margin-left: 15px;
    margin-right: 15px;
}

.save-in-progress-spinner
{
    margin-top: 5px;
    position: relative;
    top: 5px;
}

.change-password-progress-spinner-span-div
{
    display: inline-block;
    padding-right: 5px;
}

h3.edit-title {
	padding-left: 15px;
}
