<div class="modal-header">
	<h3>{{'change_own_password_dialog.change_your_password' | translate}}</h3>
</div>
<div class="modal-body">
	<div class="setup-screen-alert-div"> 
         <div id="passwordError" class="alert alert-danger" role="alert" data-ng-show="error.displayErrorMessage">{{error.message}}</div>       
    </div>
	<form class="form-horizontal" name="passwords.changePasswordForm" role="form">
	    <div class="form-group">
			<label class="control-label col-sm-4" for="currentPassword">{{'change_own_password_dialog.current_password' | translate}}:</label>
			<div class="controls col-sm-8">
				<input class="form-control" type="password" name="currentPassword" placeholder="*******" data-ng-model="passwords.currentPassword" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-4" for="password">{{'change_password_dialog.password_label' | translate}}:</label>
			<div class="controls col-sm-8">
				<input class="form-control" type="password" name="password" placeholder="*******" data-ng-model="passwords.password" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-4" for="retypePassword">{{'change_password_dialog.retype_password_label' | translate}}:</label>
			<div class="controls col-sm-8">
				<input class="form-control" type="password" name="retypePassword" placeholder="*******" data-ng-model="passwords.retypePassword" required/>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<div class="change-password-progress-spinner-span-div">
		<div data-ng-show="saveInProgress">
			<i class="fa fa-cog fa-spin fa-2x save-in-progress-spinner"></i>
		</div>
	</div>
	<button id="ok" data-ng-click="ok()" class="btn" data-ng-disabled="passwords.changePasswordForm.$invalid || saveInProgress">{{'ok_button' | translate}}</button>
	<button id="close" data-ng-click="close()" class="btn" data-ng-disabled="saveInProgress">{{'cancel_button' | translate}}</button>
</div>